[workspace]
resolver="3"
members = [ "eisheth", "eisheth-proc-macros","ligeia-compiler", "ligeia-compiler-lib"]

[workspace.lints.rust]
warnings = "deny"

[workspace.lints.clippy]
all = "deny"
pedantic = "deny"
nursery = "deny"
undocumented_unsafe_blocks = "deny"

